body
{
font-family: 'Roboto', sans-serif;
background-color:yellow;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-brand{color:black;
font-weight:bold;
}
.footer{

width:1510px;
height:60px;
color:red;
font-weight:bold;
text-align:left;
background-color:orange;}
div2
{position:relative;
font-weight:bold;
left:35%;
color:green;
word-spacing:1cm;
background-color:white;
font-size:30px;}
h5
{
font-weight:bold;
font-size:25px;
text-align:center;}
p5
{

font-size:18px;
text-align:center;}
p6
{
font-weight:bold;
font-size:30px;
text-align:center;}
h6{
font-weight:bold;
font-size:25px;
text-align:left;}
p7{
font-weight:bold;
color:green;
font-size:20px;}
p8{
font-weight:bolder;
color:black;}