{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" >
    <div class="row mx-auto">
        <div class="col-sm-6">
    <img src="{{p.image.url}}" height="300px" width="200px"  >
        </div>
        <div class ="col-sm-6 mt-5">
            <div>
                <h6>{{p.name}}</h6>
                <p7>{{p.price}}.RS</p7><br>
                <h>product description:</h>
                <p8>{{p.desc}}</p8>
                {% if p.stock <= 0 %}
                <h2>OUT OF STOCK</h2>
                {% else %}
                <a class="btn btn-primary" href="{% url 'cart:addtocart' p.id %}">ADD TO CART</a>
               {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
